.covido-menu-item {
  position: relative;
  height: 70px;
}

.covido-menu-item::after {
  content: "";
  position: absolute;
  /* bottom: 0; */
  bottom: -63px;
  /* Đặt hình tròn ở dưới đáy */
  /* transform: translateY(+50%); */
  width: 126px;
  /* Đường kính của hình tròn */
  height: 126px;
  background-color: #ed242e;
  /* Màu nền của hình tròn */
  border-radius: 50%;
}

.transparent-element {
  background-color: rgba(255, 255, 255, 0) !important;
  /* Màu đen với độ trong suốt là 50% */
  opacity: 0.1;
}

.covido {
  position: relative;
}

.img-covido {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* App.css */

body {
  background-image: url("./chiet-xuat-rong-bien-vuot-troi-hon-Remdesivir-trong-viec-ngan-chan-virus-COVID-19.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
